# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# dist - Commented out so GitHub Actions can commit it
# dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.local
.env.production

# Database
*.sql.backup
*.db

# PHP
*.php~
.phpunit.result.cache
vendor/

# OS
Thumbs.db

# Build files
*.tsbuildinfo
.cache/

# Testing
coverage/

# Deployment
deploy/
